$orange-gradient: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$color-orange: #FE9013;
$color-green: #4B9200;
$color-red: #D31414;
$color-yellow: #FFEE2E;
$color-black-blue: #333B41;
$color-gray: #767474;
$color-gray-smoke: #ABABAB;
$color-light-gray: #F1F3F2;
$color-frosted-glass-white: rgba(253, 253, 255, 0.4); 

$pink-gradient: 
    linear-gradient(315.75deg, 
    rgba(254, 189, 171, 0.74) 30.06%, 
    rgba(243, 169, 248, 0.66) 50.74%,
    #E0D8F0 80.49%, #EAF7FE 127.9%,
    #EAF7FE 149.54%), 
    linear-gradient(315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #E0D8F0 80.49%,
    #EAF7FE 127.9%, 
    #EAF7FE 149.54%);

$orange-background-gradient: 
linear-gradient(315.75deg, 
rgba(254, 210, 144, 0.7) 30.06%, 
#FEBDAB 100.95%, 
rgba(254, 210, 144, 0.7) 106.36%), 
linear-gradient(315.75deg, 
rgba(254, 189, 171, 0.74) 30.06%, 
rgba(243, 169, 248, 0.66) 50.74%, 
#E0D8F0 80.49%, 
#EAF7FE 127.9%, 
#EAF7FE 149.54%), 
linear-gradient(315.75deg, 
rgba(254, 189, 171, 0.74) 30.06%, 
rgba(243, 169, 248, 0.66) 50.74%, 
#E0D8F0 80.49%, 
#EAF7FE 127.9%, 
#EAF7FE 149.54%);

$content-width: 1160px;
$small-desktop: 1000px;
$tablet-width: 640px;
$mobile-width: 320px;
