.button {
    border: none;
    padding: 1.6rem;
    text-align: center;
    &--rounded {
        @extend %rounded-btn;
    }
    &--little-rounded {
        @extend %rounded-btn;
        border-radius: 5px;
    }
}


