html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: Roboto, 'Open Sans' , sans-serif;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
}

h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
}