html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: Roboto, 'Open Sans' , sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

h1 {
    @include fontSettings($size: 1.9rem,  $lineHeight: 120%);
    text-align: center;
}

h2 {
    @include fontSettings($size: 4.8rem, $lineHeight: 120%);
}

h3 {
    @include fontSettings($size: 3.6rem, $lineHeight: 130%);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}


.text {
    color: $color-black-blue;
    font-size: 1.6rem;
}


.flower {
    position: absolute;
    
}