.pets {
    padding-top: 177px;
    padding-bottom: 100px;
    position: relative;
}

.pet-card {
    max-width: 366px;
}

.pets__prev-button, .pets__next-button  {
    width: 6.2rem;
    height: 6.2rem;
    border-radius: 50%;
    background-color: $color-orange;
    display: flex !important;
    justify-content: center;
    align-items: center;
    & > img {
        display: block;
    }
}

.pets__buttons {
    position: absolute;
    top: 45%;
    display: flex;
    justify-content: space-between;
}

.pets__prev-button {
    margin-left: -80px;
}
.pets__next-button {
    margin-left: 1196px;
}

.pets__button {
    margin-top: 74px;
    margin-left: 37%;
}

.pets__flower {
    bottom: 0;
    &--left {
        left: 0;
    }
    &--right {
        right: 0;
    }
}