.pick-friend {
    background-image: $orange-background-gradient;
    padding-top: 69px;
    padding-bottom: 100px;
}
.pick-friend__inner-block {
    background-color: $color-frosted-glass-white;
    border-radius: 20px;
    padding-bottom: 59px;
}

.pick-friend__title {
    padding-top: 41px;
    text-align: center;
    color: $color-orange;
    font-size: 4.8rem;
    line-height: 5.8rem;
}

.pick-friend__subtitle{
    padding-top: 30px;
    padding-left: 100px;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: $color-black-blue;
}

.pick-friend__strong-text {
    padding-left: 100px;
    font-weight: 500;
    line-height: 2.1rem;
    padding-top: 40px;
}

.pick-friend__text {
    padding-top: 10px;
    padding-left: 100px;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: $color-black-blue;
    max-width: 863px;
}

.pick-friend__underline {
    text-decoration-color: $color-orange;
}

.pick-friend__cards-wrapper {
    padding-top: 58px;
    max-width: 764px;
    margin: auto;
}

.pick-friend__second-title {
    text-align: center;
    font-size: 3.6rem;
    line-height: 4.7rem;
    color: #333B41;
}

.pick-friend__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-basis: 168px;
    padding-top: 40px;
}

.pick-friend__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.pick-friend__card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 168px;
    height: 168px;
    border: 1px solid  $color-orange;
    border-radius: 5px;
}

.pick-friend__card-title {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: $color-black-blue;
    max-width: 168px;
    font-weight: 400;
}

.arrow {
    display: block;
    margin-top: -80px;
}

.pick-friend__button {
    margin-top: 65px;
    margin-left: 30%;
}